<body style="background-color:black">
  <style>
  .Bad{color: red;}
  .Good{color: green;}
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1 style="color:green; font-family:'Verdana';text-align:center;margin-top:150px;";>Proccess Complete!<h1>
<h1 style="color:white; font-family:'Verdana';text-align:center;margin-top:20px;";>{{variable}}</h1>
<h1 style="color:white; font-family:'Verdana';text-align:center;margin-top:20px;";>{{variable2}}</h1>
<h1 style="color:white; font-family:'Verdana';text-align:center;margin-top:20px;";>{{variable3}}</h1>

<div style="margin-left:100px">
<img style="display: inline-block;width:500px;margin-left:10px;" src="../static/frame2.jpg"/>
<img style="display: inline-block;width:500px;margin-left:10px;" src="../static/frame3.jpg"/>
<div>
</body>
