<body style="background-color:black">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h1 style="color:white; font-family:'Verdana';text-align:center;margin-top:150px;";>Upload Complete<h1>

  <form  method=POST  action="http://127.0.0.1:5000/trackMovement" style="text-align:center;margin-top:100px;">
      <button type="submit" class="btn btn-primary" style="background-color:cyan;color:black" onclick=" relocate_home()">Proccess Video</button>

  </form>
</body>
